body {
  font-family: "montserratregular";
  margin: 0;
}
.header {
  margin-top: 25px;
  margin-bottom: 38px;
}
.header__nav {
	max-width: 1338px;
  margin: 0 auto;
  padding-right: 17px;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__img { width: 200px; }
.header__logo { width: 166px; }
.model__list {
  min-width: 490px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}
.menu__list {
  min-width: 200px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0;
}
.item { list-style-type: none; }
.link {
	text-decoration: none;
	color: #000;
	font-size: 15px;
	font-weight: 700px;
	font-family: "montserratbold";
	padding: 0 0 5px 0;
	background-image: linear-gradient(#e51937, #e51937);
	background-position: 0% 100%;
	background-repeat: no-repeat;
	background-size: 0% 2px;
	transition: background-size .3s, color .3s;
}
.link:hover {
	background-size: 100% 2px;
	color: #e51937;
}
.btn__list {
  width: 25px;
  height: 20px;
  display: flex;
	align-items: center;
	justify-content: center;
  float: right;
}
.line {
	position: relative;
	width: 90%;
	height: 2px;
	background: #e51937;
}
.line::after {
	content: '';
 	position: absolute;
 	display: block;
 	width: 100%;
 	height: 100%;
 	top: 6px;
  left: 0;
 	background: #e51937;
 }
.line::before {
	content: '';
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	top: -6px;
	left: 0;
	background: #e51937;
 }
.tesla { margin: 0 0 27px 0; }
.tesla__title{
 	margin: 0;
 	height: 100px;
  font-family: 'montserratbold';
 	font-style: normal;
 	font-size: 90px;
 	font-weight: 700;
 	text-align: center;
 	padding: 15px 0 0 0;
 }
.tesla__subtitle {
 	margin: 0;
 	font-family: 'montserratregular';
	font-style: normal;
	font-weight: 500;
	font-size: 15px;
	text-align: center;
	padding: 2px 0 0 0;
 }
.tesla__disc {
	min-height: 500px;
 	background-image: url(img/tesla-logo-car.png);
 	background-repeat: no-repeat;
 	background-position: center;
	margin: 0;
}
.detail {
	margin: 0 0 25px 0;
}
.wrap {
	display: flex;
	align-items: center;
	justify-content: center;
}
.speed {
	display: flex;
	min-width: 150px;
	margin: 0 35px;
}
.speed__img {
	width: 60px;
	height: 60px;
	margin: 0 9px 0 0;
}
.speed__container {
	display: flex;
	flex-direction: column;
	cursor: pointer;
	transition: color .5s ease-out;
}
.speed__container:hover { color: #e51937; }
.speed__desc1 {
	font-family: montserratregular;
	font-style: normal;
	font-weight: 600;
	font-size: 35px;
}
.speed__desc2 {
	font-family: montserratregular;
	font-style: normal;
	font-weight: 600;
	font-size: 20px;
}
.speed__text {
	font-family: montserratregular;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	margin: 0;
}
.run{
	display: flex;
	min-width: 150px;
	margin: 0 35px;
}
.run__img {
	width: 55px;
	height: 65px;
}
.run__container {
	display: flex;
	flex-direction: column;
	cursor: pointer;
	transition: color .5s ease-out;
}
.run__container:hover { color: #e51937; }
.run__desc1 {
	font-family:montserratregular;
	font-style: normal;
	font-weight: 600;
	font-size: 35px;
}
.run__desc2 {
	font-family: montserratregular;
	font-style: normal;
	font-weight: 600;
	font-size: 20px;
}
.run__text {
	font-family: montserratregular;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	margin: 0;
}
.testdrive {
	display: flex;
	align-items: center;
	margin: 0 35px;
}
.testdrive__img { width: 35px; }
.testdrive__link {
	font-family: montserratbold;
	font-style: normal;
	font-weight: 700;
	font-size: 13px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	color: #000;
	cursor: pointer;
	transition: color .5s ease-out;
}
.testdrive__link:hover { color: #e51937; }
.order {
	min-width: 160px;
	min-height: 35px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	transition: all 1s ease-out;
}
.order_red {
	border: 2px solid #e51937;
	margin: 0 35px;
}
.order__button {
	font-family: montserratbold;
	font-style: normal;
	font-weight: 700;
	font-size: 13px;
	text-transform: uppercase;
}
.order__button_red {
	color: #e51937;
}
.order_red:hover {
	color: #000;
	box-shadow: inset 2px 2px 5px #8b0000;
}
.arrow {
	cursor: pointer;
	position: relative;
	width: 40px;
	height: 30px;
	margin: auto;
}
.arrow__left {
	position: absolute;
	background: #e51937;
	top: 10px;
	left: 0;
	width: 25px;
	height: 2px;
	display: block;
	transform: rotate(45deg);
	float: right;
}
.arrow__right {
	position: absolute;
	background: #e51937;
	top: 10px;
	left: 16px;
	width: 25px;
	height: 2px;
	display: block;
	transform: rotate(-45deg);
	float: right;
}
.arrow:hover { animation: arrow 1s linear infinite -.5s; }
@keyframes arrow {
	0% {
		opacity: 0;
		transform: translateY(-20px);
	}
	10%, 90% {
		opacity: 0;
	}
	50% {
		opacity: 1;
		transform: translateY(0);
	}
	100% {
		opacity: 0;
		transform: translateY(20px);
	}
}

.discriptoion {
	margin: 0;
}
.description__conteiner {
	display: flex;
	justify-content: space-between;
	min-height: 900px;
}
.description__panel {
	background-image: url(img/tesla-model-s-cockpit.png); 
	background-repeat: no-repeat;
	background-size: cover;
	/*background-position: 0% 100%;*/
	/*background-position: -20px 30px;*/
	background-position: 0% 30px;
	margin: 0;
	width: calc(100% - 445px);
}
.panel__title {
	font-size: 70px;
	margin: 0;
	padding: 62px 0 0 82px;
}
.description__column {
	background: #E51937;
	width: 445px;
	margin: 0;
	padding: 50px 60px 0 55px;
	box-sizing: border-box; /*ширина включает в себя внутренний отступ и рамку*/
}
.column__title {
	font-family: montserratbold;
	font-style: normal;
	font-weight: 700;
	font-size: 30px;
	color: #FFF;
}
.column__title_indentbig {
	margin: 0 0 15px 0;
}
.column__body {
	font-family: montserratregular;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: #FFF;
	line-height: 18px;
}
.column__body_indentbig {
	margin: 0 0 70px 0;
}
.specific {
	margin: 0 0 160px 0;
}
.text1 {
	font-size: 35px;
	font-family: montserratbold;
	font-style: normal;
	font-weight: 700;
	color: #FFF;
	line-height: 18px;
}
.text2 {
	font-size: 20px;
	font-family: montserratbold;
	font-style: normal;
	font-weight: 700;
	color: #FFF;
	line-height: 18px;
}
.text3 {
	font-size: 12px;
	font-family: montserratregular;
	font-style: normal;
	font-weight: normal;
	color: #FFF;
	margin: 0;
	line-height: 18px;
}
.specific__display {
	display: flex;
	padding: 0 0 0 4px;
	margin: 0 0 35px 0;
}
.display__img {
	width: 36px;
	height: 53px;
	padding: 5px 0 0 0;
}
.block {
	display: flex;
	flex-direction: column;
	padding: 5px 0 0 20px;
}
.specific__wifi {
	display: flex;
	margin: 0 0 30px 0;
}
.wifi__img {
	width: 44px;
	height: 35px;
	padding: 18px 0 0 0;
}
.specific__space {
	display: flex;
	padding: 0 0 0 4px;
}
.space__img {
	width: 36px;
	height: 56px;
}
.buttons {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}
.buttons_first {
	width: 350px;
}
.link {
	display: flex;
}
.link__img {
	width: 22px;
	height: 22px;
	background-image: url(img/group.png);
	margin: 0 10px 0 0;
}
.link__inform {
	color: #fff;
	text-decoration: none;
	font-family: montserratbold;
	font-style: normal;
	font-weight: 700;
	font-size: 13px;
	text-transform: uppercase;
}
.order_white {
	border: 2px solid #fff;
	margin: 10px 0 0 0;
}
.order__button_white {
	color: #fff;
}
.order_white:hover {
	color: #000;
	box-shadow: inset 2px 2px 5px #fff;
}
.security__conteiner {
	display: flex;
	justify-content: space-between;
	min-height: 900px;
}
.security__column {
	background: #E51937;
	width: 445px;
	margin: 0;
	padding: 50px 70px 0 55px;
	box-sizing: border-box; /*ширина включает в себя внутренний отступ и рамку*/
}
.column__title_indentsmall {
	margin: 0 0 18px 0;
}
.column__body_indentsmall {
	margin: 0 0 60px 0;
}
.rating {
	width: 295px;
	margin: 0 0 90px 0;
}
.rating__title {
	font-family: montserratbold;
	font-style: normal;
	font-weight: 700;
	font-size: 30px;
	line-height: 37px;
	color: #FFF;
	margin: 0 0 16px 0;
}
.rating__table {
	color: #FFF;
}
.table__row {
	display: flex;
	justify-content: space-between;
	align-items: center;
} 
.table__text {
	font-family: montserratbold;
	font-style: normal;
	font-weight: 700;
	font-size: 17px;
	line-height: 21px;
	text-transform: uppercase;
}
.table__stars {
	font-family: "Lucida Sans Unicode", "Arial Unicode MS";
	font-size: 25px;
	letter-spacing: 7px;
	margin: 0;
	padding: 0;
}
.table__explan {
	font-size: 10px;
	line-height: 12px;
	opacity: 0.7;
}
.safety {
	width: 280px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 0 0 10px;
	margin: 0 0 42px 0;
}
.safety__img {
	width: 62px;
	height: 74px;
}
.safety__text1 {
	font-family: montserratbold;
	font-style: normal;
	font-weight: 700;
	font-size: 50px;
	line-height: 61px;
	color: #FFF;
	margin: 0;
	padding: 0;
}
.safety__text2 {
	font-family: montserratbold;
	font-style: normal;
	font-weight: 700;
	font-size: 25px;
	line-height: 30px;
	color: #FFF;
	margin: 0;
	padding: 0;
}
.buttons_second {
	width: 330px;
}
.security__scheme {
	position: relative;
	background-image: url(img/model-s.png);
	background-repeat: no-repeat;
	background-position: 100% 20%;
	margin: 0;
	width: calc(100% - 445px);
}
.scheme__img {
	position: absolute;
	top: 170px;
	left: -100px;
}